.netflix__content {
    background-color: var(--background);
    height: fit-content;
    width: 100vw;

    padding: 2rem;
}

.netflix__content-recomendations {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.netflix__content h1 {
    color: white;
}

.netflix__content-row {
    margin-top: 4rem;
}