.netflix__principal {
    
    z-index: -999;
    background-color: black;
    width: 100vw;
    height: 80vh;

}

.netflix__principal h1 {
    cursor: default;
}

.netflix__principal-bg {
    height: 100%;
    width: 100%;
}

.netflix__principal-bg img {
    height: 100%;
    width: 100%;
}

.netflix__principal-sinopse {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

    height: 80vh;
    width: 35%;
    padding: 1rem;

    display: flex;;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: var(--color-font);
    font-family: var(--font-family);

    text-align: center;
}

.netflix__principal-sinopse h2 {
    font-size: 14px;
    cursor: default;
    color: var(--color-text);
}

.netflix__principal-sinopse_more {
    margin-bottom: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 75%;
}

.date {
    font-family: var(--font-family);
    border-radius: 5px;
    width: 15%;
    background-color: grey;

    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
}

.duration {
    color: rgb(0, 199, 0);

    cursor: default;
}

.hd {
    border-radius: 5px;
    width: 10%;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;
}

.audio {
    border-radius: 5px;
    width: 10%;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;
}

.buttons {
    margin-top: 1rem;
    width: 70%;
    height: 8%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons h1 {
    font-size: 18px;
    color: var(--color-font);
}

.play {
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    
    border-radius: 5px;

    width: 35%;
    height: 60%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    background-color: grey;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    
    border-radius: 5px;

    width: 35%;
    height: 60%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.play:hover {
    background-color: rgba(255, 0, 0, 0.6);
    border: 1px solid white;
}

.add:hover {
    background-color: rgba(128, 128, 128, 0.6);
    border: 1px solid white;
}

@media screen and (max-width: 550px) {
    .netflix__principal {
    
        z-index: -999;
        background-color: black;
        width: 100vw;
        height: 50vh;
    
    }

    .netflix__principal-sinopse h2 {
        display: none;
    }
    .netflix__principal-sinopse h1 {
        display: none;
    }

    .netflix__principal-sinopse_more {
        display: none;
    }

    .netflix__principal-sinopse {
        top: 22.9rem;
        height: 10%;
        width: 100%;

        background:-moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .buttons{
        height: 100%;
        width: 80%;
    }

    .netflix__principal-bg img {
        height: 100%;
        width: 100%;
    }

    .play {  
        width: 35%;
        height: 90%;
    }
    
    .add {
        width: 35%;
        height: 90%;
    }
}