@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --background: black;
    --color-font: white;
    --color-text: rgb(180, 180, 180);
    --font-family: 'Poppins', sans-serif;
}